body {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
}

element.style .text-black {
    color: #000 !important;
}

.form-group {
    margin-bottom: 1rem;
}

.sub-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-weight: 700;
    color: #ff5733;
    margin-bottom: 10px;
}

.testimony img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
}